<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title><img src="assets/icon/logo_1.png" /></ion-title>
    <ion-buttons slot="end">
      <ion-button class="bordered" fill="solid" color="light">
        <ion-icon color="custom" name="cart-outline"></ion-icon>
        <ion-badge color="warning" slot="end">9</ion-badge>
      </ion-button>
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Légalisation de document</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="separate">
            <ion-item>
              <ion-label>
                <h2>4</h2>
                <p>CNI</p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>
                <h2>5</h2>
                <p>Acte de naissance</p>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="separate">
            <ion-item>
              <ion-label>
                <h2>10</h2>
                <p>Extrait de casier...</p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>
                <h2>8</h2>
                <p>Passports</p>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tarification</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group value="undefined">
          <ion-item>
            <ion-label>Prestations ponctuelles</ion-label>
            <ion-radio slot="end" value="biff"></ion-radio>
            <span>$40</span>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-radio-group value="undefined">
      <ion-list-header>
        <ion-label>Optez pour un abonnement</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>PACX A</ion-label>
        <ion-radio slot="end" value="PACX_A"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>PACX B</ion-label>
        <ion-radio slot="end" value="PACX_B"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>PACX C</ion-label>
        <ion-radio slot="end" value="PACX_C"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <div class="btn_footer">
    <ion-button color="custom" class="btn_1">Annuler</ion-button>
    <ion-button color="custom" class="btn_2">Suivant</ion-button>
  </div>
</ion-content>